<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupMapper">
  <resultMap id="groupResultSet" type="groupRoom">
		<result column="GROUP_NO" property="groupNo"/>
		<result column="REGION_NO" property="regionNo"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="GROUP_NAME" property="groupName"/>
		<result column="GROUP_IMG" property="groupImg"/>
		<result column="GROUP_DETAIL" property="groupDetail"/>
		<result column="GROUP_TYPE" property="groupType"/>
		<result column="GROUP_DATE" property="groupDate"/>
	</resultMap>
	
	<resultMap id="memberResultSet" type="groupMember">
		<result column="GROUP_NO" property="groupNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_RANK" property="userRank"/>
	</resultMap>
	
	<select id="selectList" resultMap="groupResultSet">
		select group_no, group_name, group_img, group_type, group_date
		from group_room
		order by group_date desc
	</select>
	
	
	<insert id="insertGroup" parameterType="groupRoom">
		insert 
			into group_room
				(
				group_no,
				region_no,
				category_no,
				group_name,
				group_img,
				group_detail,
				group_type,
				group_date
				)
			values
				(
				seq_gno.nextval,
				#{regionNo},
				#{categoryNo},
				#{groupName},
				#{groupImg},
				#{groupDetail},
				#{groupType},
				sysdate
				)
	
	</insert>
	
	<insert id="insertGroupMember" parameterType="groupMember">
		insert 
			into group_member
				(
				group_no,
				user_id,
				user_rank
				)
			values
				(
				seq_gno.currval,
				#{userId},
				#{userRank}
				)
	</insert>
	
	<insert id="insertCalendar">
		INSERT
		  INTO
		       GROUP_CALENDAR
		VALUES
			   (
			   SEQ_GCDNO.NEXTVAL,
			   SEQ_GNO.CURRVAL
			   )		 
	</insert>
	
	<select id="memberCount" resultType="_int">
		select count(m.group_no)
		from group_room r
		left join group_member m on(r.group_no=m.group_no)
		group by r.group_no
		order by r.group_no desc
	</select>
	
	<select id="manageGroup" resultMap="groupResultSet">
		select group_no, group_img, group_name from group_room
		join group_member using(group_no)
		where user_rank ='A'
		order by group_no desc
	</select>
	
	<select id="getGroupNo" resultType="int">
		SELECT last_number - 1
	      FROM user_sequences
	     where sequence_name = 'SEQ_GNO'
	</select>
	
	<select id="selectGroup" parameterType="_int" resultMap="groupResultSet">
		SELECT GROUP_NO, REGION_NO, CATEGORY_NO, GROUP_NAME, GROUP_IMG, GROUP_DETAIL, GROUP_TYPE, GROUP_DATE
  	      FROM GROUP_ROOM
 	     WHERE GROUP_NO = #{groupNo}
	</select>
	
</mapper>
